@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap');

* {
	margin:0;
	font-family: 'Roboto', sans-serif;
	box-sizing: border-box;
	text-transform: capitalize;
}

@mixin flexBox($justify) {
	display:flex;
	justify-content: $justify;
	align-items: center;
}
@mixin flexBoxColumn() {
	display:flex;
	flex-direction:column;
}

.app__header {
	@include flexBox(space-between);
	background:#24292e;
	padding:1rem 3rem;
	.app__logo {
		width:50px;
		height:50px;
	}
	form {
		input {
			padding:.2rem;
			width:200px;
			background:#404448;
			border-radius:5px;
			border:none;
			font-size:18px;
			outline:none;
			transition:.5s;
			color:white;
			text-transform: none;
			&:focus {
				width:300px;
			}
		}
	}
}
.app__users {
	padding:3rem 0;
	.users {
		@include flexBox(center);
		flex-wrap:wrap;	
		.user {
			max-width:200px;
			margin:.5rem;
			.user__profile {
				width:200px;
				height:140px;
			}
		}
	}
}
.user__container {
    padding:10px;
	.user__info {
		@include flexBox(center);
		align-items: unset;
		.user__avatar {
			@include flexBoxColumn();
			text-align: center;
			margin-bottom: 10px;
			.avatar {
				@include flexBoxColumn();
				align-items:center;
				margin:1rem;
			}
			.info__specific {
				display:flex;
				align-items:center;
				div {
					flex-shrink:0;
					h4 {
						font-weight:normal;
						margin:0 1rem;
						span {
							color:rgba(0,0,0,.8);
							font-weight:600;
						}
					}
				}
				
			}
		}
		
		.user__repos {
			h3 {
				text-align:center;
			}
			.repos {
				@include flexBox(space-around);
				flex-wrap: wrap;
				.repo {
					@include flexBoxColumn();
					justify-content:space-between;
					border:1px solid rgba(0,0,0,.3);
					padding:10px;
					border-radius:5px;
					max-width:400px;
					max-height:150px;
					height:150px;
					width:370px;
					line-height:20px;
					margin:1rem;
					box-shadow: 1px 1px 1px rgba(0,0,0,.2); 
					a {
						text-transform: lowercase;
						text-decoration: none;
						color:rgba(0, 141, 255,1);
						margin-bottom:10px;
						font-weight:600;
						&:hover {
							text-decoration: underline;
						}
					}
					p {
						font-size:13.5px;
						text-transform: lowercase;
						color:rgba(0,0,0,.8);
						span {
							font-weight:600;
						}
					}
				}
			}
		}
	}	
}


@media all and (max-width:1024px) {
	.app__header {
		padding:1rem;
		form {
			input {
				font-size:16px;
				width:140px;
				&:focus {
					width:200px;
				}
			}
		}
	}
	.app__users {
		padding:1rem;
		.users {
			.user {
				max-width:300px;
				.user__profile {
					width:300px;
					height:200px;
				}
			}
		}
	}
	.user__container {
		.user__info {
			flex-direction:column;
			.user__avatar {
				.avatar {
					flex-direction:row;
				}
			}
			.user__repos {
				.repos {
					.repo {
						max-width:100vw;
						width:95vw;
					}
				}
				
			}
		}
		
	}
}